body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0px auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* 添加以建立层叠上下文 */


}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    width:95%;
    margin-right: 5px; /* 添加间距，调整与右侧索引条的距离 */
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color: black; /* 修改字体颜色为黑色 */
    font-size: 16px; /* 增加字体大小为16px */
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: #f5f5f5;
    text-decoration: none; /* 去掉链接下划线 */
}


.contacts-container {
    display: flex;
    position: relative; /* 添加以建立层叠上下文 */
    flex: 1; /* 增加flex属性 */
}

.index-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 30%; /* 调整索引条与页面顶部的距离 */
    right: 0; /* 调整索引条与页面右边的距离 */
    width: 20px;
    height: calc(100% - 160px); /* 调整索引条高度以适应布局 */
    overflow-y: auto;
    z-index: 2; /* 添加以设置较高的层叠顺序 */
}

.index-item {
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 4px;
    color:dodgerblue;
}

.search-bar {
    margin-bottom: 20px; /* 调整搜索栏与联系人列表之间的距离 */
}

.search-bar input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F0F0F0;
    height: 27px;
}
.contacts-container {
    position: relative;
}

/* 隐藏滚动条样式 */
.index-bar::-webkit-scrollbar {
    display: none;
}

/* 隐藏小按钮样式 */
.index-bar::-webkit-scrollbar-button {
    display: none;
}

/* 修改字母标签 */
.letter-label {
    background-color: #F0F0F0;
    color: #000;
    font-weight: bold;
}

