body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

h1 {
    text-align: center;
    margin-top: 0; /* 去掉标题上方的横线 */
    padding-top: 0; /* 去掉标题上方的横线 */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color: black; /* 修改字体颜色为黑色 */
    font-size: 16px; /* 增加字体大小为16px */
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: #f5f5f5;
    text-decoration: none; /* 去掉链接下划线 */
}


input[type="text"] {
    width: 96.5%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


